.four{
    color: rgb(185, 157, 30);
    font-size: 20px;
}
.five{
    background-color: yellow;
    color: red;
    font-style: italic;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
}